<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head, script, css files-->
    <% include ../extern.ejs%>
</head>

<body>
    <!--Top Menu-->
    <% include ../base/topMenu.ejs%>
    <!-- Banner -->
    <div class="jumbotron container-fluid text-center">
        <!-- Introduction-->
        <h1><b>Lovely & Communication</b></h1>
        <!-- Navigation-->
        <% include ../base/navigation.ejs %>
    </div>
    <!-- Board-->
    <div class="row board">
        <div class="col-md-8">
            <!-- Photos & Sections-->
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <!-- Photos-->
                <div class="card-body row">
                    <% include carousel.ejs %>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Notice card-->
            <% include noticeCard.ejs %>
            <!-- Schedule-->
            <% include scheduleCard.ejs%>
        </div>
    </div>

    <!-- Footer -->
    <div class="row">
    </div>

    <!-- Notice Modal -->
    <% include noticeModal.ejs%>
    <!-- Schedule Modal -->
    <% include scheduleModal.ejs%>
</body>

</html>