<div class="navbar">
    <li class="nav-item"><a class="nav-link" href="#section1">동아리소개</a></li>
    <li class="nav-item"><a class="nav-link" href="#section2">조직도</a></li>
    <li class="nav-item"><a class="nav-link" href="#section3">봉사활동</a></li>
    <li class="nav-item"><a class="nav-link" href="#section4">개발활동</a></li>

    <!-- Dropdown-->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">게시판</a>
        <div class="dropdown-menu text-center">
            <a href="#" class="dropdown-item">공지사항</a>
            <a href="#" class="dropdown-item">자유게시판</a>
        </div>
    </li>
</div>