<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <button class="float-right" data-toggle="modal" data-target="#noticeModal">>>더보기</button>
        <h4 class="card-title">공지사항</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">공지사항1</li>
        <li class="list-group-item">공지사항2</li>
        <li class="list-group-item">공지사항3</li>
    </ul>
</div>