<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <button class="float-right" data-toggle="modal" data-target="#scheduleModal"> >>더보기 </button>
        <h4 class="card-title">봉사일정</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">일정1</li>
        <li class="list-group-item">일정2</li>
        <li class="list-group-item">일정3</li>
    </ul>
</div>