<div class="row boardSection">
    <div class="col-sm-6"> Section1</div>
    <div class="col-sm-6"> Section2</div>
</div>
<div class="row boardSection">
    <div class="col-sm-6"> Section3</div>
    <div class="col-sm-6"> Section4</div>
</div>