<ul style="list-style: none; text-align: right; background-color: #2E353D;">
    <li style="display: inline;"><a style="color: white; text-decoration: none;" href="#signIn">로그인</a></li>
    <li style="display: inline; color: white;">|</li>
    <li style="display: inline;"><a style="color: white; text-decoration: none;" href="#signUp">회원가입</a></li>
    <li style="display: inline; color: white;">|</li>
    <li style="display: inline;"><a style="color: white; text-decoration: none;" href="#mypage">마이페이지</a></li>
</ul>