<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head, script, css files-->
    <% include ../base/extern.ejs %>
</head>

<body>
    <!--Top Menu-->
    <% include ../base/topMenu.ejs%>
    <!-- Banner -->
    <div class="jumbotron container-fluid text-center">
        <!-- Introduction-->
        <h1><b>Lovely & Communication</b></h1>
        <!-- Navigation-->
        <% include ../base/navigation.ejs %>
    </div>

    <div class="row board">
        <div class="card shadow p-3 mb-2 bg-light rounded container-fluid">
            <div class="card-body text-center">
                <h1>Introduce</h1>
                <hr class="small-hr">
                <h5>LnC는 Lovely and Communication의 약자로, 경북대학교 IT대학 컴퓨터학부의 IT사회기여 동아리입니다. 어쩌고 저쩌고</h5>
            </div>
        </div>
    </div>

    <div class="row board">
        <div class="card shadow p-3 mb-2 bg-light rounded container-fluid">
            <div class="card-body text-center">
                <h1>Characteristic</h1>
                <hr class="small-hr">
                <div class="row board">
                    <div class="col-sm-4">
                        <img src="./Public/image/intro/volunteer.png" width="150"; height="150">
                        <h4>봉사정신</h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="./Public/image/intro/education.png" width="150"; height="150">
                        <h4>교육기부</h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="./Public/image/intro/friendship.png" width="150"; height="150">
                        <h4>친목도모</h4>
                    </div>
                </div>
            </div>
        </div>

        <div id="demo" class="carousel slide container-fluid" style="width: 700px; height:500px;" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./Public/image/intro/history.png" alt="History" width="700" height="450">
                </div>
                <div class="carousel-item">
                    <img src="./Public/image/intro/organization.png" alt="Organization" width="700" height="450">
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</body>

</html>