<div class="navbar">
    <li class="nav-item"><a class="nav-link" href="/intro">동아리소개</a></li>
    <li class="nav-item"><a class="nav-link" href="/volunteer">봉사활동</a></li>
    <li class="nav-item"><a class="nav-link" href="/develop">개발활동</a></li>

    <!-- Dropdown-->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">게시판</a>
        <div class="dropdown-menu text-center">
            <a href="/notice" class="dropdown-item">공지사항</a>
            <a href="/board" class="dropdown-item">자유게시판</a>
        </div>
    </li>
</div>
</div>