<!DOCTYPE html>
<html>
<head>
    <!-- head, script, css files-->
    <% include ../extern.ejs %>
</head>

<body>
    <!--Top Menu-->
    <% include ../base/topMenu.ejs%>
    <!-- Banner -->
    <div class="jumbotron container-fluid text-center">
        <!-- Introduction-->
        <h1><b>Lovely & Communication</b></h1>
        <!-- Navigation-->
        <% include ../base/navigation.ejs %>
    </div>

    <!-- Board-->
    <div class="row board container-fluid">
        <div class="card shadow p-3 mb-5 bg-white rounded mx-auto">
            <!-- SignUp text-->
            <div class="card-body">
                <h4 class="card-title">회원가입</h4>
            </div>
            <div class="row">
                <!-- For membership -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="name mt-2">이름 :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="name" id="name" placeholder="이름을 입력하세요" class="form-control ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="id mt-2">아이디 :</label></div>
                        <div class ="col-sm-8">
                            <input type="text" name="id" id="id" placeholder="이메일을 입력하세요" class="form-control last">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="pass mt-2">비밀번호 :</label></div>
                        <div class="col-sm-8">
                            <input type="password" name="password" id="password" placeholder="비밀번호를 입력하세요" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="pass mt-2">비밀번호 확인 :</label></div>
                        <div class="col-sm-8">
                            <input type="password" name="password_confirm" id="password_confirm" placeholder="한번 더 비밀번호를 입력하세요" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <!-- submit via [sign_up] function-->
                    <div class="btn btn-dark mt-3">Submit</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>